:root {
    --ck-ligth-pink:'#6D2F38';
    --ck-pink:'#DAD3DA';
    --ck-wine: '#6D2F38';
    --ck-light-grey: '#E6E7EC';
    --ck-grey: '#A2A1A8';
    --ck-dark-grey: '#303437';
    --ck-blue: '#D0D4DF';
    --ck-light-blue:'#E6ECF3' 
}